Package: autopower
Version: 0.96
Section: admin
Priority: optional
Architecture: amd64
Depends: upower, power-profiles-daemon, systemd
Description: A script to switch CPU mode based on charging status
Maintainer: SnekTheGreat <snek@snekthegreat.com>
